In [7]:
# ============================================
# 0. Imports & Setup
# ============================================
import pandas as pd
import yfinance as yf

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 20)


# ============================================
# 1. Ask user for ticker
# ============================================
ticker_input = input("Enter a ticker (e.g. CBA.AX, WBC.AX, AAPL): ").strip()
ticker = yf.Ticker(ticker_input)


# ============================================
# 2. Download financial statements (raw)
# ============================================
income_statement  = ticker.financials
balance_sheet     = ticker.balance_sheet
cash_flow         = ticker.cashflow


# ============================================
# 3. Clean function (keeps original orientation)
# ============================================
def clean_statement_no_transpose(df: pd.DataFrame, statement_name: str) -> pd.DataFrame:
    """
    Keeps rows = line items, columns = dates.
    Adds a 'statement' column and resets index for clean CSV output.
    """
    if df is None or df.empty:
        print(f"[WARN] {statement_name} empty.")
        return pd.DataFrame()

    clean = df.copy()

    # Reset index so line items become a proper column
    clean = clean.reset_index().rename(columns={"index": "line_item"})

    # Add statement type (income, balance_sheet, cash_flow)
    clean.insert(1, "statement", statement_name)

    return clean


# ============================================
# 4. Apply cleaning
# ============================================
clean_income        = clean_statement_no_transpose(income_statement, "income")
clean_balance_sheet = clean_statement_no_transpose(balance_sheet, "balance_sheet")
clean_cash_flow     = clean_statement_no_transpose(cash_flow, "cash_flow")


# ============================================
# 5. Save to CSV
# ============================================
def save_to_csv(df: pd.DataFrame, filename: str):
    if df is None or df.empty:
        print(f"[WARN] {filename} not saved (DataFrame is empty).")
        return
    df.to_csv(filename, index=False, encoding="utf-8")
    print(f"[OK] Saved: {filename}")


save_to_csv(clean_income, "income_statement.csv")
save_to_csv(clean_balance_sheet, "balance_sheet.csv")
save_to_csv(clean_cash_flow, "cash_flow.csv")


# ============================================
# 6. Preview cleaned outputs
# ============================================
print("\n=== Cleaned Income Statement ===")
display(clean_income.head())

print("\n=== Cleaned Balance Sheet ===")
display(clean_balance_sheet.head())

print("\n=== Cleaned Cash Flow ===")
display(clean_cash_flow.head())

Enter a ticker (e.g. CBA.AX, WBC.AX, AAPL): cba.ax
[OK] Saved: income_statement.csv
[OK] Saved: balance_sheet.csv
[OK] Saved: cash_flow.csv

=== Cleaned Income Statement ===

,line_item,statement,2025-06-30 00:00:00,2024-06-30 00:00:00,2023-06-30 00:00:00,2022-06-30 00:00:00,2021-06-30 00:00:00
0,Tax Effect Of Unusual Items,income,-1.659840e+08,-1.372800e+08,2.066533e+07,-8.526000e+06,NaN
1,Tax Rate For Calcs,income,3.040000e-01,3.120000e-01,2.910610e-01,2.940000e-01,NaN
2,Total Unusual Items,income,-5.460000e+08,-4.400000e+08,7.100000e+07,-2.900000e+07,NaN
3,Total Unusual Items Excluding Goodwill,income,-5.460000e+08,-4.400000e+08,7.100000e+07,-2.900000e+07,NaN
4,Net Income From Continuing Operation Net Minor...,income,1.013300e+10,9.481000e+09,1.009600e+10,9.592000e+09,NaN

=== Cleaned Balance Sheet ===

,line_item,statement,2025-06-30 00:00:00,2024-06-30 00:00:00,2023-06-30 00:00:00,2022-06-30 00:00:00,2021-06-30 00:00:00
0,Treasury Shares Number,balance_sheet,1.620212e+06,1.510328e+06,1.649931e+06,1.600415e+06,NaN
1,Ordinary Shares Number,balance_sheet,1.671842e+09,1.672070e+09,1.674519e+09,1.699938e+09,NaN
2,Share Issued,balance_sheet,1.673462e+09,1.673580e+09,1.676169e+09,1.701538e+09,NaN
3,Net Debt,balance_sheet,1.584520e+11,1.361210e+11,5.081700e+10,2.835400e+10,NaN
4,Total Debt,balance_sheet,2.162320e+11,1.866850e+11,1.615530e+11,1.515990e+11,NaN

=== Cleaned Cash Flow ===

,line_item,statement,2025-06-30 00:00:00,2024-06-30 00:00:00,2023-06-30 00:00:00,2022-06-30 00:00:00,2021-06-30 00:00:00
0,Free Cash Flow,cash_flow,-2.461000e+09,-2.694500e+10,-9.958000e+09,2.226300e+10,NaN
1,Repurchase Of Capital Stock,cash_flow,-1.540000e+08,-3.620000e+08,-2.634000e+09,-6.547000e+09,NaN
2,Repayment Of Debt,cash_flow,-7.319700e+10,-8.245700e+10,-5.297000e+10,-5.241900e+10,NaN
3,Issuance Of Debt,cash_flow,8.927300e+10,5.761000e+10,5.949800e+10,7.168700e+10,NaN
4,Issuance Of Capital Stock,cash_flow,NaN,0.000000e+00,0.000000e+00,4.800000e+07,5000000.0